<!DOCTYPE html>
<html lang="fr">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8" />
    <title>URL Shortener | ur.ly</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="og:title" content="">
    <meta name="og:description" content="">
    <meta property="og:image" content="" />
    <link href='../static/favicon.ico' type='image/x-icon' rel='icon' />
    <link href='../static/favicon.ico' type='image/x-icon' rel='shortcut icon' />
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min9d52.css?ver=3.5.1" />
    <link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min9d52.css?ver=3.5.1" />
    <link rel="stylesheet" href="../static/vendor/animate.min9d52.css?ver=3.5.1" />
    <link rel="stylesheet" href="../static/vendor/owl/owl.carousel.min9d52.css?ver=3.5.1" />
    <link rel="stylesheet" href="../static/vendor/owl/owl.theme.default9d52.css?ver=3.5.1" />
    <link rel="stylesheet" href="../static/css/front9d52.css?ver=3.5.1" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <script type="c5e09230575786e9fd1f1a6f-text/javascript">
    if (window.self !== window.top) {
        window.top.location.href = window.location.href;
    }
</script>
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index inner-page">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " href="{{ url_for('index')}}">Ur.ly URL Shortener</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ url_for('index')}}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('terms')}}">Terms of Use</a>
                    </li>
                    <li>
                        <a href="{{ url_for('privacy')}}">Privacy Policy</a>
                    </li>
                    <li class="dropdown language-selector">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false"><i class="fa fa-language"></i> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="index380c.html?lang=en_US">English (United
                                    States)</a></li>
                            <li><a href="index28e9.html?lang=fr_FR">français
                                    (France)</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

    </nav>

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">DMCA</div>
            </div>
        </div>
    </header>
    <section id="services">
        <div class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel luctus lectus, at porttitor orci. Nulla
                ac ex quis leo efficitur ornare sed quis ex. Etiam vitae odio interdum, placerat nisi ut, lobortis
                ligula. Duis sed massa porttitor, vehicula ante non, pharetra ipsum. Nulla facilisi. In id augue orci.
                Duis nec erat sit amet justo imperdiet dignissim sit amet at diam. Nunc venenatis tortor a mattis porta.
                Sed ac metus velit. Nam pharetra iaculis elit a vehicula. Aenean elit justo, accumsan eu risus vitae,
                aliquet vehicula massa. Maecenas orci nunc, egestas ultricies convallis vel, varius eget eros. Aenean
                commodo nunc eget mauris varius rutrum. Nunc hendrerit aliquam elementum. Nullam in nisl ante.</p>
            <p>Curabitur vitae suscipit nisi, et iaculis erat. Cras eu massa molestie, malesuada nulla vel, rutrum
                metus. Pellentesque pellentesque libero eu dui pulvinar tristique. Cum sociis natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus. Fusce leo nunc, semper in aliquam a, blandit vel
                ante. Suspendisse faucibus, lacus id faucibus sollicitudin, risus felis facilisis tellus, vel euismod
                eros enim quis orci. Integer mattis, sem sed vestibulum condimentum, quam massa tempus mauris, sit amet
                placerat purus lacus eu tellus. Pellentesque varius in ex ut laoreet. Fusce pretium nulla eu aliquam
                dapibus. Praesent a metus vel nibh iaculis semper. Donec congue nibh mollis velit vehicula aliquam.
                Fusce pellentesque leo sed lacus maximus facilisis. Mauris vestibulum nisl sit amet nisi viverra,
                fermentum accumsan quam varius. Donec in gravida elit. Integer ultrices turpis sed tortor laoreet, ut
                fermentum massa facilisis. Sed ut magna dignissim ex tempus pulvinar eu sit amet libero.</p>
            <p>Nunc semper viverra sollicitudin. Aenean eu velit imperdiet, tincidunt lectus nec, vestibulum tortor.
                Donec feugiat elit vitae magna blandit convallis. Integer quis aliquam nunc. In scelerisque aliquet
                enim. Donec ac tortor id dui varius lobortis. Suspendisse rutrum felis sapien, ac molestie mauris
                consequat et.</p>
            <p>Sed vitae dapibus massa. Morbi lacus ex, posuere sit amet erat vel, tincidunt blandit mi. Donec maximus
                ornare rhoncus. Nulla facilisi. Duis diam tortor, volutpat ac urna vitae, ullamcorper fringilla sapien.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ut
                ipsum pharetra, dictum mauris in, sodales nunc. Aenean tincidunt rutrum libero, et elementum eros semper
                quis. Cras maximus tincidunt urna, sed ultricies elit. Duis consequat sodales nisl, at luctus quam
                varius porttitor. Sed ac felis vitae velit tincidunt pretium in at mauris. Etiam efficitur lacus ac
                semper posuere. Phasellus quam lacus, semper ut enim a, interdum facilisis libero. Ut quis feugiat ex,
                ut ultrices erat.</p>
            <p>Nam elementum ipsum at tortor cursus lacinia. Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Etiam feugiat rhoncus lorem, id vulputate libero malesuada eget. Proin
                in tristique sem. Duis elementum sem at posuere molestie. Praesent velit nulla, volutpat sit amet
                euismod id, congue in orci. In hac habitasse platea dictumst. Nulla mollis non risus sit amet euismod.
                Praesent malesuada lectus in tellus bibendum sagittis. Proin lectus ligula, dictum in ante in,
                scelerisque iaculis odio.</p>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="social-links">
                        <a href="#" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="bottom-menu">
                        <ul class="list-inline">
                            <li><a href="{{ url_for('index')}}">Home</a></li>
                            <li><a href="{{ url_for('terms')}}">Terms of Use</a></li>
                            <li><a href="{{ url_for('privacy')}}">Privacy Policy</a>
                            </li>
                            <li><a href="dmca.html">DMCA</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright text-center">
                Copyright &copy; Bytekov.io Ur.ly </div>
        </div>
    </footer>
    <script src="../static/vendor/jquery.min9d52.js?ver=3.5.1" type="81da85ee839b066a5fec9324-text/javascript"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min9d52.js?ver=3.5.1"
        type="81da85ee839b066a5fec9324-text/javascript"></script>
    <script src="../static/vendor/owl/owl.carousel.min9d52.js?ver=3.5.1"
        type="81da85ee839b066a5fec9324-text/javascript"></script>
    <script src="../static/vendor/wow.min9d52.js?ver=3.5.1" type="81da85ee839b066a5fec9324-text/javascript"></script>
    <script src="../static/js/front9d52.js?ver=3.5.1" type="81da85ee839b066a5fec9324-text/javascript"></script>
    <script src="../static/js/app9d52.js?ver=3.5.1" type="81da85ee839b066a5fec9324-text/javascript"></script>
    <script src="../static/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="81da85ee839b066a5fec9324-|49" defer=""></script>
</body>

</html>